@import'../../../../theme/stylesheets/variables';

h1 {
    color: $color-primary;
    font-family: $font-en-montserrat;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    margin-bottom: 2px !important;
    padding-top: 10px;
}
// <!-- Start!account-password-security -->
.account-password-security{
    background-color: rgba(211, 204, 204, 0.658);
    padding: 3px 10px;
    h3 {
        font-family: $font-en-montserrat;
        font-size: 18px;
        font-weight: 700;
        color: $color-primary;
    }
    h4 {
        font-family: $font-en-montserrat;
        font-size: 18px;
        font-weight: 500;
    }
    .mail-change-field{
        display: flex;
        justify-content: space-between;
        background-color: rgba(185, 177, 177, 0.322);
        padding: 5px 2px;
        margin-bottom: 7px;
        p{
            font-family: $font-en-montserrat;
            font-size: 14px;
            font-weight: 400;
            color: grey;
            font-style: italic;
        }
        a{
            color: #0d4f9e;
            text-decoration: underline;
            font-family: $font-en-montserrat;
            font-size: 14px;
            font-weight: 400;
        }
    }
}
input{
    background-color:$color-white;
    padding: 5px;
    outline: none;
    border: none;
    width: 100%;
}
.re-enter{
    margin-top: 7px;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
    background-color: $color-white;
    a{
        padding-right: 10px;
        color: #0d4f9e;
        text-decoration: underline;
        font-family: $font-en-montserrat;
        font-size: 14px;
        font-weight: 400;
    }
}
// <!-- End!account-password-security -->
