<h1>YOUR PROFILE CODE: {{ userData?.userId }}</h1>
<div class="account-password-security" >

  <h3>Password and Security</h3>
  <form  [formGroup]="dataFormEmail" >
  <h4>Email</h4>
  <div class="mail-change-field">
    <p>{{userData?.email??'johnsmith@gmail.com'}}</p>
    <a (click)="changeEmail()">Change email</a>
  </div>

  <ng-container *ngIf="isChangeEmail">
    <input [class]="dataFormEmail.get('email').touched && dataFormEmail.get('email').invalid ? 'invalid':''"
           formControlName="email" type="email" name=""  placeholder="Enter email address" required>
    <div class="re-enter">
      <input [class]="dataFormEmail.get('confirmEmail').touched && dataFormEmail.get('confirmEmail').invalid ? 'invalid':''"
             formControlName="confirmEmail" type="email" name=""  placeholder="Re-enter email address" required>
      <a (click)="onChangeEmail()">Save</a>
    </div>
  </ng-container>
  </form>

  <form  [formGroup]="dataFormPass" >
  <h4>Password</h4>
  <div class="mail-change-field">
    <p>***********</p>
    <a (click)="changePassword()">Change password</a>
  </div>

  <ng-container *ngIf="isChangePassword">
  <input [class]="dataFormPass.get('password').touched && dataFormPass.get('password').invalid ? 'invalid':''"
         formControlName="password" type="password" name="" placeholder="Enter new password">
  <div class="re-enter">
    <input [class]="dataFormPass.get('confirmPassword').touched && dataFormPass.get('confirmPassword').invalid ? 'invalid':''"
           formControlName="confirmPassword" type="password" name=""  placeholder="Re-enter new password">
    <a (click)="onChangePassword()">Save</a>
  </div>

  </ng-container>
</form>
