<ion-header class="header1">
  <ion-toolbar>
    <div class="profile-list-header">
      <div class="container">
        <div class="header-content">
          <div class="profile-list-header-child">
            <div class="profile-list-header-left">
              <h1>HEALTHY NIKAH</h1>
            </div>
            <div class="profile-list-header-right">
              <button type="button" routerLink="/notification">
                <img
                  src="./assets/images/brand/png/notification-second.png"
                  alt="notification-second"
                />
                <div class="count" *ngIf="notificationCount">
                  <p>{{ notificationCount ?? 0 }}</p>
                </div>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- END! profile-list-header -->
  </ion-toolbar>
</ion-header>



<ion-content [fullscreen]="true">
  <div class="account-area">
    <div class="container">
      <h1>YOUR PROFILE CODE: {{ user?.userId }}</h1>
      <div class="user-img">
        <img *ngIf="user?.profileImg[0]"
          [src]="user?.profileImg[0] ?? user?.profileImg[0]" alt=""
        />
        <img *ngIf="!user?.profileImg[0]"
          [src]="user?.gender === 'female' ? 'src/assets/images/png/3.png' : 'src/assets/images/png/4.png'" alt=""
        />
<!--        <input [hidden]="true" #profileImagePicker type="file" (change)="fileChangeEvent($event)" accept="image/*" />-->
        <button class="profile-button" routerLink="/profile-image">Change profile picture</button>
      </div>

      <div class="account-menu">
        <ul>
          <li><button routerLink="/edit-profile">Edit your profile</button></li>
          <li><button routerLink="/account-settings">Account settings</button></li>
          <li><button routerLink="/match-credits">Match credits</button></li>
          <li><button routerLink="/faq">FAQs</button></li>
          <li><button routerLink="/contact-us">Contact us</button></li>
          <li><button (click)="onLogout()">Sign out</button></li>
<!--          <li><button routerLink="/change-password">PASSWORD AND SECURITY</button></li>-->
<!--          <li><button routerLink="/credits">subscription / purchases</button></li>-->

        </ul>
      </div>
    </div>
  </div>
</ion-content>

<app-bottom-nav></app-bottom-nav>
