<div class="bottom-nav">
  <div class="container">
    <div class="bottom-nav-main">
      <ul>
        <li routerLink="/home" routerLinkActive="active" (click)="onHomeButtonClick()">
          <img style="transform: scale(5.2);" src="/assets/images/png/9.png" alt="" />
          <span class="dot"></span> <!-- Dot for active indicator -->
        </li>
        <li routerLink="/search" routerLinkActive="active">
          <img style="transform: scale(3.0);" src="/assets/images/png/10.png" alt="" />
          <span class="dot"></span> <!-- Dot for active indicator -->
        </li>
        <li routerLink="/dashboard" routerLinkActive="active">
          <img style="transform: scale(2.2);" src="/assets/images/png/11.png" alt="" />
          <span class="dot"></span> <!-- Dot for active indicator -->
        </li>
        <li routerLink="/account" routerLinkActive="active">
          <img style="transform: scale(2.2);" src="/assets/images/png/12.png" alt="" />
          <span class="dot"></span> <!-- Dot for active indicator -->
        </li>
      </ul>
    </div>
  </div>
</div>
