@import '../../../../theme/stylesheets/variables';

.view-box{
    height:fit-content;
    width: 220px;
    //margin: 10px auto;
    padding: 15px 10px;
    border-radius: 10px;
    background: white;
    box-shadow: $box-shadow-primary;
    position: relative;
    h3 {
        font-family: $font-en-poppins;
        font-size: 12px;
        font-weight: 700;
        line-height: 16px;
        text-align: center;
        margin-bottom: 5px !important;
    }
    p {
        text-align: center;
        font-family: $font-en-poppins;
        font-size: 10px;
        font-weight: 500;
        line-height: 16px;
        text-wrap: wrap;
        margin-bottom: 10px !important;
    }
    .view-btns{
        display: flex;
        justify-content: space-around;
        button{
            width: 45%;
            background-color: $color-primary;
            padding:8px;
            color: white;
            border-radius: 5px;
            font-family: $font-en-montserrat;
            font-size: 10px;
            font-weight: 500;
            text-align: center;
          }
    }
}
