<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <!--    <ion-back-button></ion-back-button>-->
    <ion-title routerLink="/account"> Change-password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container">


    <div class="form-container">

      <div class="title">
        <h2>Change Password</h2>
      </div>

      <form [formGroup]="dataForm" (ngSubmit)="onSubmitForm()" #formDirective="ngForm" autocomplete="off">

        <div class="container">
          <div class="registration-main">
            <div class="form">

              <!--                    <div class="form-field">-->
              <!--                      <label >Old Password</label>-->
              <!--                      <input [class]="dataForm.get('oldPassword').touched && dataForm.get('oldPassword').invalid ? 'invalid':''" formControlName="oldPassword" type="password" placeholder="Old Password" />-->
              <!--                    </div>-->

              <div class="form-field">
                <label>Old Password</label>
                <div class="password">
                  <input
                    [class]="dataForm.get('oldPassword').touched && dataForm.get('oldPassword').invalid ? 'invalid':''"
                    formControlName="oldPassword" type="password" [attr.type]="isOldPassword ? 'text':'password'"
                    placeholder="Old Password" />
                  <span
                    [class]="dataForm.get('oldPassword').touched && dataForm.get('oldPassword').invalid ? 'invalid':''"
                    (click)="onShowOldPassword()"><i [class]="isOldPassword ? 'fa fa-eye-slash':'fa fa-eye'"></i></span>
                </div>
              </div>

              <div class="form-field">
                <label>Password</label>
                <div class="password">
                  <input [class]="dataForm.get('password').touched && dataForm.get('password').invalid ? 'invalid':''"
                    formControlName="password" type="password" [attr.type]="isPassword ? 'text':'password'"
                    placeholder="Password" />
                  <span [class]="dataForm.get('password').touched && dataForm.get('password').invalid ? 'invalid':''"
                    (click)="onShowPassword()"><i [class]="isPassword ? 'fa fa-eye-slash':'fa fa-eye'"></i></span>
                </div>
              </div>

              <div class="forgot-area">
                <div class="forgot-left">
                      <!-- <label for="rem"><input formControlName="remember" type="checkbox" id="rem">Remember Me</label> -->
                </div>
                <div class="forgot-right">
                      <a routerLink="/reset-password">Forgot Password?</a>
                </div>
              </div>


              <div class="sub-btn">
                <button type="submit">Change Password</button>
              </div>
            </div>
          </div>
        </div>
      </form>

    </div>

  </div>

</ion-content>