@import'../../../theme/stylesheets/variables';

.form-container {
  width: 100%;
  max-width: 500px;
  margin: 25px auto;

  .title {
    padding: 12px 0;
  }

  form {
    mat-form-field {
      width: 100%;
    }
    button {
      margin-top: 16px;
    }
  }
  .forget {
    padding: 0 5px;
    a {
      color: #1777f2;
      font-family: $font-en-primary;
      text-decoration: none;
      &:hover {
        color: #5d4037;
      }
    }
  }

  button {
    ::ng-deep span {
      color: #ffffff;
    }
  }
}

/**
RESPONSIVE
 */

@media (max-width: 599px) {
  .form-container {
    padding: 0 12px;
  }
}


.registration-main {
  min-height: calc(100vh - 145px);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 20px;
  .form{
    width: 100%;
    .form-field{
      margin-bottom: 20px!important;
      label {
        color: #a1a1a1;
        font-family: $font-en-montserrat;
        font-style: normal;
        font-size: 16px;
        margin-bottom: 12px;
        display: block;
        padding-left: 5px;
      }

      input {
        font-family: $font-en-montserrat;
        font-style: normal;
        background-color: #e7e7e7;
        width: 100%;
        outline: none;
        border: none;
        padding: 13px 15px;
        box-sizing: border-box;
        font-size: 14px;
        color: #a1a1a1;
        border-radius: 30px;

        &:-webkit-autofill {
          border: none;
          -webkit-text-fill-color: #a1a1a1;
          -webkit-box-shadow: 0 0 0px 1000px #e7e7e7 inset;
          transition: background-color 5000s ease-in-out 0s;
          font-family: $font-en-montserrat;
          font-size: 16px;
        }
      }


      .password{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        input{
          border-radius: 30px 0px 0px 30px;
          padding-right: 0px;
        }
        span{
          width: 60px;
          background-color: #e7e7e7;
          color: #a1a1a1;
          height: 45px;
          border-radius: 0px 30px 30px 0px;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 17px;
          cursor: pointer;
        }
      }
    }

    .forgot-area{
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-block:40px 20px;

      a{
        color: #3685cd;
        font-family: $font-en-montserrat;
        font-style: normal;
        font-size: 15px;
        display: block;
        line-height: 20px;
      }

      label{
        color: #3685cd;
        font-family: $font-en-montserrat;
        font-style: normal;
        font-size: 15px;
        display: block;
        line-height: 20px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 10px;
        input{
          appearance: none;
          width: 18px;
          height: 18px;
          border: 2px solid #3685cd;
          position: relative;
          cursor: pointer;
          &::after{
            content: "\f00c";
            font-family: 'Font Awesome 5 Free';
            position: absolute;
            top: 0px;
            left: 0px;
            background-color: #3685cd;
            color: $color-white;
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 13px;
            font-weight: bold;
            visibility: hidden;
            opacity: 0;
          }
          &:checked::after{
            visibility: visible;
            opacity: 1;
          }
        }
      }
    }

    .sub-btn{
      margin-top: 10px;
      button{
        background-color: $color-primary;
        color: $color-white;
        max-width: 300px;
        width: 100%;
        border: none;
        outline: none;
        font-family: $font-en-montserrat;
        font-style: normal;
        font-size: 18px;
        list-style: 22px;
        padding: 13px 15px;
        border-radius: 30px;
        text-transform: uppercase;
        box-sizing: border-box;
      }
    }
  }
}


.sub-btn {
  margin-top: 10px;

  button {
    background-color: $color-primary;
    color: $color-white;
    max-width: 300px;
    width: 100%;
    border: none;
    outline: none;
    font-family: $font-en-montserrat;
    font-style: normal;
    font-size: 18px;
    list-style: 22px;
    padding: 13px 15px;
    border-radius: 30px;
    text-transform: uppercase;
    box-sizing: border-box;
  }
}
