<ion-header class="header1">
  <ion-toolbar>
    <div class="registration-top">
      <div class="container">
        <div class="registration-top-main">
          <span (click)="goBack()">
            <i class="fa-solid fa-arrow-left"></i>
          </span>

<!--          <h3>HEALTHY NIKAH</h3>-->
<!--          <p>CREATE YOUR PROFILE</p>-->
        </div>
      </div>
    </div>
    <!-- END! profile-list-header -->
  </ion-toolbar>
</ion-header>



<ion-content [fullscreen]="true">
  <div class="reset-password-area">
<!--    <div class="reset-password-top">-->
<!--      <div class="container">-->
<!--        <div class="reset-password-top-main">-->
<!--          <span (click)="goBack()">-->
<!--            <i class="fa-solid fa-arrow-left"></i>-->
<!--          </span>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->

    <form [formGroup]="dataForm" (ngSubmit)="onSubmit()">
      <div class="container max-width">
        <div class="reset-password-main">
          <div class="reset-text-info">
            <h3>Trouble Logging In?</h3>

            <div class="secuirty-icon">
              <img
                src="./assets/images/brand/png/security-two.png"
                alt="security-two"
              />
            </div>

            <p>
              Enter your email and we’ll send you an OTP code to reset your password.
            </p>
          </div>

          <div class="form-area">
            <div class="form-field">
              <input
                type="email"
                placeholder="Email"
                formControlName="username"
                [readonly]="isOtpValid"
              />
            </div>

            <div class="form-field" *ngIf="isOtpSent  && !isOtpValid">
              <input type="text" placeholder="OTP" formControlName="otp" />
              <a
                [style.display]="countDown == 0 ? 'none': 'block'"
                style="color: #f53d2d; font-weight: 500"
                >{{'0:' + countDown}}</a
              >
              <button
                *ngIf="countDown == 0 && isCountDownEnd"
                type="button"
                (click)="onSubmit1()"
              >
                Resent
              </button>
            </div>

            <!--          <div class="form-field" *ngIf="isOtpSent">-->
            <!--            <input type="text" placeholder="Otp" formControlName="password">-->
            <!--          </div>-->

            <div class="form-field" *ngIf="isOtpValid">
              <!--            <label>Password</label>-->
              <div class="password">
                <input
                  formControlName="password"
                  type="password"
                  [attr.type]="isPassword ? 'text':'password'"
                  placeholder="Enter New Password"
                />
                <span (click)="onShowPassword()"
                  ><i [class]="isPassword ? 'fa fa-eye' : 'fa fa-eye-slash'"></i
                ></span>
              </div>
            </div>

            <div class="sub-btn">
              <!--            <button>Reset Password</button>-->
              <button *ngIf="!isLoading" type="submit">{{ submitBtnName }}</button>
              <button *ngIf="isLoading" type="button">Please wait...</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</ion-content>

<div class="footer">
  <div class="container">
    <div class="footer-main">
      <h3>HealthyNikah</h3>
    </div>
  </div>
</div>
