<ion-header class="header1">
  <ion-toolbar>
    <div class="header-main back">
      <div class="toolbar">
        <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>Search List</ion-title>
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div class="home-area">
    <div class="container">
      <div class="home-main-area">
        <ng-container *ngIf="isUserLoad && !users.length">
          <app-home-card-loader></app-home-card-loader>
        </ng-container>

        <ng-container *ngIf="!isUserLoad && users.length">
          <div class="home-slide-area" *ngFor="let data of users;let i = index">
            <swiper [speed]="1000" [slidesPerView]="1" [loop]="false" [pagination]="true" [spaceBetween]="20"
                    [grabCursor]="true" [autoplay]="false" class="mySwiper">
              <ng-template swiperSlide>


                <div class="home-info-card" style="display: block;">
                  <div class="home-info-card-main">
                    <div class="home-info-card-top">
                      <h1>HealthyNikah</h1>

                      <div class="user-detail-top-img">
                        <img src="./assets/images/temp/png/heart-bg-remove.png" alt="logo" />
                      </div>

                      <div class="user-detail-profile-summery">
                        <h2>Profile Summary: {{data?.userId}}</h2>
                      </div>
                    </div>
                    <!-- END! home-info-card-top -->

                    <div class="home-info-card-bottom">
                      <div class="home-info-card-card">
                        <h5>Electricity & Residence:</h5>
                        <p>{{data?.ethnicity}}</p>
                      </div>

                      <div class="home-info-card-card">
                        <h5>Age and Height:</h5>
                        <p>
                          {{data?.age}}
                          <br />
                          {{data?.height}}
                        </p>
                      </div>

                      <div class="home-info-card-card">
                        <h5>Educational Qualification:</h5>
                        <p> {{data?.educationLevel}}</p>
                      </div>

                      <div class="home-info-card-card">
                        <h5>Current Work and Grade:</h5>
                        <p>
                          {{data?.professionalDetails}}
                        </p>
                      </div>

                      <div class="home-info-card-card">
                        <h5>Islamic Practice:</h5>
                        <p>
                          {{data?.islamicPractice}}
                        </p>
                      </div>


                    </div>
                  </div>

                  <div class="request-area">
                    <ul>
                      <li><button (click)="ignoreRequest($event,i)" style="background-color: #121212;">Skip</button></li>
                      <li *ngIf="data?._id != isRequestLoad && countDown === 3"><button
                        (click)="onRequest($event,data,i,data?._id)">{{request?.requestTo?._id === data?._id ? 'Delete
                        Request': 'Send Request'}}{{checkRequest(data?._id)}}</button></li>
                      <li *ngIf="data?._id === isRequestLoad && countDown > 0"><button><span class="circle"></span> Wait
                        {{countDown}} s</button></li>
                    </ul>
                  </div>

                </div>

              </ng-template>

              <ng-template swiperSlide>
                <div class="home-info-card">
                  <div class="home-info-card-main">
                    <div class="home-info-card-top">
                      <h1>HealthyNikah</h1>
                      <div class="user-detail-top-img">
                        <img src="./assets/images/temp/png/heart-bg-remove.png" alt="logo" />
                      </div>
                    </div><!-- END! home-info-card-top -->

                    <div class="home-info-card-bottom">
                      <div class="home-info-card-card">
                        <h5>About Me:</h5>
                        <p>
                          {{data?.aboutMe}}
                        </p>
                      </div>

                      <div class="home-info-card-card">
                        <h5>What I'm looking for:</h5>
                        <p>
                          {{data?.whatILooking}}
                        </p>
                      </div>

                      <div class="home-info-card-card">
                        <h5>Any other important information:</h5>
                        <p>
                          {{data?.additionalInfo}}
                        </p>
                      </div>

                      <div class="home-info-card-card">
                        <h5>Profession you are looking for:</h5>
                        <h6>{{data?.profession}}</h6>
                      </div>

                    </div>
                  </div>


                  <div class="request-area">
                    <ul>
                      <li><button (click)="ignoreRequest($event,i)" style="background-color: #121212;">Skip</button></li>
                      <li *ngIf="data?._id != isRequestLoad && countDown === 3"><button
                        (click)="onRequest($event,data,i,data?._id)">{{request?.requestTo?._id === data?._id ? 'Delete
                        Request': 'Send Request'}}{{checkRequest(data?._id)}}</button></li>
                      <li *ngIf="data?._id === isRequestLoad && countDown > 0"><button><span class="circle"></span> Wait
                        {{countDown}} s</button></li>
                    </ul>
                  </div>

                </div><!--- END HOME INFO CARD -->
              </ng-template>

              <ng-template swiperSlide>
                <div class="home-image-card">
                  <img [src]="data?.profileImg ? data?.profileImg : '/assets/avatar/user-young.jpg'" alt="area-card"
                       *ngIf="data?.gender === 'male'" />
                  <img
                    [src]="data?.profileImg ? data?.profileImg : 'https://cdn.vectorstock.com/i/1000x1000/23/22/new-woman-avatar-icon-flat-vector-19152322.webp'"
                    alt="area-card" *ngIf="data?.gender === 'female'" />

                  <div class="request-area">
                    <ul>
                      <li><button (click)="ignoreRequest($event,i)" style="background-color: #121212;">Skip</button></li>
                      <li *ngIf="data?._id != isRequestLoad && countDown === 3"><button
                        (click)="onRequest($event,data,i,data?._id)">{{request?.requestTo?._id === data?._id ? 'Delete
                        Request': 'Send Request'}}{{checkRequest(data?._id)}}</button></li>
                      <li *ngIf="data?._id === isRequestLoad && countDown > 0"><button><span class="circle"></span> Wait
                        {{countDown}} s</button></li>
                    </ul>
                  </div>
                </div>

              </ng-template>
            </swiper>

          </div><!--- END SLIDE AREA -->
        </ng-container>

      </div>

    </div>
  </div><!-- END! home-area -->
</ion-content>

<app-bottom-nav></app-bottom-nav>
<!-- END! bottom-nav -->
