<ion-content [fullscreen]="true">
<!--  <div class="get-start-area">-->
<!--    <div class="container">-->
<!--      <div class="get-start-main">-->
<!--        <h3>HEALTHY NIKAH</h3>-->
<!--        <div class="get-start-heart">-->
<!--          <img src="./assets/images/brand/png/heart.png" alt="">-->
<!--        </div>-->
<!--        <p>MATCHMAKING FOR MUSLIM-->
<!--          HEALTHACRE PROFESSIONALS</p>-->
<!--        <button routerLink="/authintication">Get Started</button>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->



  <div class="get-start-area">
    <div class="container">
      <div class="get-start-main">
        <div class="get-start-heart">
          <img
            src="/assets/images/brand/png/white-logo.png"
            alt="white-logo"
          />
        </div>
        <h3>HEALTHY NIKAH</h3>
      </div>
    </div>
  </div>
</ion-content>
