@import'../../../theme/stylesheets/variables';
.max-width{
  max-width: calc($container-max-width - 230px);
  margin: 0 auto!important;
}
.authentication-area-top {
    background-color: #c40a5e;

    .authentication-area-top-child {
        height: 55vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        padding: 20px 15px 36px;
    }

    h3 {
        //color: $color-primary;
        font-family: $font-en-montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 30px;
        line-height: 42px;
        text-align: center;
        color: #fff;

    }

    .authentication-heart {
        margin-bottom: 24px !important;

        img {
            max-width: 154px;
            width: 100%;
            object-fit: contain;
            margin-inline: auto;
        }
    }
}

@media(max-width:400px) {
    .authentication-area-top {
        .authentication-heart {
            margin-bottom: 24px !important;

            img {
                max-width: 154px;
            }
        }
    }
}

/* --- authentication-area-top-bottom --- */
.authentication-area-top-bottom {
    background-color: $color-white;
    text-align: center;

    .authentication-main {
        height: calc(100vh - 55vh);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        width: 100%!important;
        padding: 26px 15px 20px;

        h4 {
            font-family: $font-en-montserrat;
            color: #c40a5e;
            font-size: 18px;
            font-weight: 700;
            //width: 100%;
            //width: 280px;
            margin-bottom: 52px !important;
        }

        button {
            background-color: $color-primary;
            color: $color-white;
            //max-width: 300px;
            width: 100%;
            border: none;
            outline: none;
            font-family: $font-en-montserrat;
            font-style: normal;
            font-size: 18px;
            //list-style: 22px;
            padding: 13px 0;
            border-radius: 30px;
            text-transform: uppercase;
            box-sizing: border-box;
            margin-bottom: 20px;
            font-weight: 600;
            line-height: 18px;
            //&:last-child {
            //    margin: 0;
            //}
        }
    }
}

@media(max-width:400px) {
    .authentication-area-top-bottom {
        .authentication-main {
            button {
                font-size: 17px;

            }
        }
    }
}
