<ion-header class="header1">
  <ion-toolbar>
    <div class="profile-list-header">
      <div class="container">
        <div class="header-content">
          <div class="profile-list-header-child">
            <div class="profile-list-header-left">
              <h1>HEALTHY NIKAH</h1>
            </div>
            <div class="profile-list-header-right">
              <button type="button" routerLink="/notification">
                <img
                  src="./assets/images/brand/png/notification-second.png"
                  alt="notification-second"
                />
                <div class="count" *ngIf="notificationCount">
                  <p>{{ notificationCount ?? 0 }}</p>
                </div>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- END! profile-list-header -->
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <app-search-main *ngIf="!isLoading"></app-search-main>

  <div class="loading1" *ngIf="isLoading">
    <div class="abgne-loading-20140104-2">
      <div class="loading"></div>
      <div class="word">
        <img src="/assets/images/temp/png/heart-bg-remove.png" alt="Guardian Logo">
      </div>
    </div>
  </div>
</ion-content>

<app-bottom-nav></app-bottom-nav>
