::ng-deep.mat-mdc-menu-content {
  padding-top: 0!important;
}

.search-area {
  display: block;
  width: 100%;
  padding: 8px;
  background: #FFFFFF;
  position: sticky;
  top: 0;
  z-index: 1; /* Ensure it stays on top of other content */
}

.search-area input {
  line-height: 1.5;
  border: none;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20'><path fill='%23838D99' d='M13.22 14.63a8 8 0 1 1 1.41-1.41l4.29 4.29a1 1 0 1 1-1.41 1.41l-4.29-4.29zm-.66-2.07a6 6 0 1 0-8.49-8.49 6 6 0 0 0 8.49 8.49z'></path></svg>");
  background-repeat: no-repeat;
  background-position: 9px 8px;
  background-size: 20px 20px;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0, rgba(27, 31, 35, 0.15) 0 0 0 1px;
  border-radius: 5px;
  color: #575757;
  font-weight: 400;
  width: 100%;
  font-size: 14px;
  padding: .4em 1em .4em 2.5em;
}

.search-area input::placeholder {
  color: #575757;
  font-size: 14px;
}

.search-area input:focus {
  outline: none;
}
