@import'../../theme/stylesheets/variables';
ion-header{
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
ion-toolbar{
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
/* --- profile-list-header --- */
.profile-list-header {
  background-color: $color-primary;
  padding: 15px 10px;
}

.header-content{
  .back-button {
    min-width: 22px;
    max-width: 22px;
    height: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border-radius: 100%;


    i {
      color: #c40a5e;
      font-size: 15px;
    }
  }
}



/* --- profile-list-header-child --- */
.profile-list-header-child {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 11px;
  .profile-list-header-left {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0;

    img {
      max-width: 45px;
      width: 100%;
    }

    h1 {
      font-family: $font-en-montserrat;
      font-size: 17px;
      color: #fff;
      font-weight: 600;

    }
  }

  .profile-list-header-right {
    position: relative;
    button {
      background-color: transparent;
      border: 0;
      outline: 0;

      img {
        max-width: 20px;
      }
    }

    .count {
      position: absolute;
      left: -14px;
      top: -13px;
      background: yellow;
      padding: 10px;
      width: 22px;
      height: 22px;
      border-radius: 50%;

      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
