// Fonts Family
$font-en-primary: "Signika Negative", sans-serif;
$font-en-poppins: "Poppins", sans-serif;
$font-en-montserrat: 'Montserrat', sans-serif;
$font-en-roboto: 'Roboto', sans-serif;
$font-en-poppins: 'Poppins', sans-serif;
$bank-gothic-medium: 'bank_gothic_medium', 'arial', sans-serif;
$nexa-bold: 'nexa_bold', 'arial', sans-serif;
$nexa-light: 'nexa_light', 'arial', sans-serif;
$cocon-regular: 'cocon_regular', 'arial', sans-serif;
$shorif-jonota: 'shorif_jonota', sans-serif;
$segoe_ui_regular: 'segoe_ui_regular', sans-serif;
$segoe_ui_bold: 'segoe_ui_bold', sans-serif;
$shorif-jonota: 'shorif_jonota', sans-serif;
$bangla-kalpurush: "kalpurush", sans-serif;
$font-bn-primary: "hind-siliguri", sans-serif;
$bangla-SolaimanLipi_Bold: "SolaimanLipi_Bold", sans-serif;

// container
$container-max-width: 600px;
$font-dis-size: 16px;

// color
$color-gray: #757575;
$color-primary: #c3075f;
$heading-color: #380d00;
$color-deep-red: #b70000;
$text-color: #5c5c5c;
$color-black: #353535;
$color-yellow: #ffab10;
$color-bg: #fff1e6;
$button-color: #C92127;
$border-color: #ddd;
$color-white: #ffffff;
$black-color: #000;
$button-color-white: #FFFFFF;
$color-light-gray: #777777;
$color-primary-light: #DEFFEB;
$sub-heading-color: #565765;
$color-border: #e8e8e8;
$color-secondary: #F26871;
$color-orange: #ff7d09;
$color-primary-2: #143161;
$icon-default-color: #FFFFFF;
$table-bg-color: #FBAE01;
$table-text-color: #6a4a02;
$table-sm-color: #FE7B03;
$box-shadow-primary: 0px 15px 35px 0px rgba(0, 0, 0, 0.1);
$text-color-secondary: #9c9c9c;

// font-size
$font-title-size: 38px;
$font-title-md-size: 18px;
$font-dis-size: 16px;
