<div class="home-info-card">
  <div class="home-info-card-main">
    <div class="home-info-card-top">
      <h1 style="padding: 10px 0;"> <ion-skeleton-text [animated]="true"
          style="height:18px; width: 50%; margin-inline: auto;"></ion-skeleton-text></h1>
      <div class="user-detail-top-img">
        <div class="home-info-card-card">
          <p style="padding: 10px 10px 0 10px;"><ion-skeleton-text [animated]="true"
                                style="height:9px; width: 100px;  margin-inline: auto; "></ion-skeleton-text></p>
          <p style="padding: 10px 10px 0 10px;"><ion-skeleton-text [animated]="true"
                                                       style="height:9px; width: 100px;  margin-inline: auto; "></ion-skeleton-text></p>
          <p style="padding: 10px 10px 0 10px;"><ion-skeleton-text [animated]="true"
                                                       style="height:9px; width: 100px;  margin-inline: auto; "></ion-skeleton-text></p>
          <p style="padding: 10px 10px 0 10px;"><ion-skeleton-text [animated]="true"
                                                                   style="height:9px; width: 100px;  margin-inline: auto; "></ion-skeleton-text></p>
        </div>
       <p  style="padding: 10px 10px 0 10px;"><ion-skeleton-text  [animated]="true" style="height:60px; width: 60px;"></ion-skeleton-text></p>
      </div>
    </div><!-- END! home-info-card-top -->

    <div class="home-info-card-bottom">
      <div class="home-info-card-card">
        <h5 style="padding: 10px 10px 0 10px;"><ion-skeleton-text [animated]="true"
            style="height:12px; width: 150px;"></ion-skeleton-text></h5>
        <p style="padding: 10px 10px 0 10px;"><ion-skeleton-text [animated]="true"
            style="height:9px; width: 85%; "></ion-skeleton-text></p>
        <p style="padding: 10px 10px 0 10px;"><ion-skeleton-text [animated]="true"
            style="height:9px; width: 85%;"></ion-skeleton-text></p>
      </div>
    </div>
  </div>


  <div class="request-area">
    <ul>
      <li><button><ion-skeleton-text [animated]="true" style="height:30px;  "></ion-skeleton-text></button></li>
      <li><button><ion-skeleton-text [animated]="true" style="height:30px; "></ion-skeleton-text></button></li>
      <li><button><ion-skeleton-text [animated]="true" style="height:30px; "></ion-skeleton-text></button></li>
    </ul>
  </div>

</div><!--- END HOME INFO CARD -->
