<div class="header">
  <div class="container">
    <div class="header-main">
      <div class="app-name">
        <h3>HN</h3>
      </div>

      <div class="bell-box">
        <a>
          <svg viewBox="0 0 448 512">
            <path
              d="M224 0c-17.7 0-32 14.3-32 32V51.2C119 66 64 130.6 64 208v25.4c0 45.4-15.5 89.5-43.8 124.9L5.3 377c-5.8 7.2-6.9 17.1-2.9 25.4S14.8 416 24 416H424c9.2 0 17.6-5.3 21.6-13.6s2.9-18.2-2.9-25.4l-14.9-18.6C399.5 322.9 384 278.8 384 233.4V208c0-77.4-55-142-128-156.8V32c0-17.7-14.3-32-32-32zm0 96c61.9 0 112 50.1 112 112v25.4c0 47.9 13.9 94.6 39.7 134.6H72.3C98.1 328 112 281.3 112 233.4V208c0-61.9 50.1-112 112-112zm64 352H224 160c0 17 6.7 33.3 18.7 45.3s28.3 18.7 45.3 18.7s33.3-6.7 45.3-18.7s18.7-28.3 18.7-45.3z"
            />
          </svg>

          <span>2</span>
        </a>
      </div>
    </div>
  </div>
</div>

<ion-content [fullscreen]="true">
  <div class="user-list-area">
    <div class="container">
      <div class="user-list-area-child">
        <div class="user-list-area-bottom">
          <swiper
            [slidesPerView]="1"
            [spaceBetween]="0"
            [autoplay]="false"
            [navigation]="{
            prevEl: '.prev-indicator',
            nextEl: '.next-el'
          }"
            [loop]="true"
            [centeredSlides]="true"
            [grabCursor]="true"
            [roundLengths]="true"
            [loopAdditionalSlides]="30"
            [slidesPerGroup]="1"
            [cardsEffect]="{
               rotate: 0,
               slideShadows: false,
               depth: 0,
            }"
            [effect]="'cards'"
            [breakpoints]="{
              '0': {
              slidesPerView: 1
              },
          }"
            class="mySwiper cardCarousel"
          >
            <ng-template swiperSlide *ngFor="let data of userDummyData">
              <div class="user-list-area-bottom-card">
                <img [src]="data?.img" alt="area-card" />

                <div class="user-list-card-data">
                  <div class="active-status">
                    <p>Active</p>
                  </div>

                  <div class="user-internal-info">
                    <h1>{{data?.name}}</h1>

                    <div class="user-interest">
                      <h3>
                        <small>
                          <svg viewBox="0 0 512 512">
                            <path
                              d="M315.4 15.5C309.7 5.9 299.2 0 288 0s-21.7 5.9-27.4 15.5l-96 160c-5.9 9.9-6.1 22.2-.4 32.2s16.3 16.2 27.8 16.2H384c11.5 0 22.2-6.2 27.8-16.2s5.5-22.3-.4-32.2l-96-160zM288 312V456c0 22.1 17.9 40 40 40H472c22.1 0 40-17.9 40-40V312c0-22.1-17.9-40-40-40H328c-22.1 0-40 17.9-40 40zM128 512a128 128 0 1 0 0-256 128 128 0 1 0 0 256z"
                            />
                          </svg>
                        </small>
                        <span>Interest</span>
                      </h3>

                      <ul>
                        <li>Fashion</li>
                        <li>Music</li>
                        <li>Social Media</li>
                        <li>Outdoors</li>
                        <li>Horror films</li>
                      </ul>
                    </div>
                  </div>
                </div>
                <!-- END! user-list-card-data -->
              </div>
            </ng-template>
          </swiper>
        </div>
      </div>
      <!-- END! user-list-area-child -->
    </div>
  </div>
  <!-- END! user-list-area -->
</ion-content>

<app-bottom-nav></app-bottom-nav>
<!-- END! bottom-nav -->
