<ion-header class="header1">
  <ion-toolbar>
    <div class="registration-top">
      <div class="container">
        <div class="registration-top-main">
          <span (click)="goBack()">
            <i class="fa-solid fa-arrow-left"></i>
          </span>

          <h3>HEALTHY NIKAH</h3>
          <p>CREATE YOUR PROFILE</p>
        </div>
      </div>
    </div>
    <!-- END! profile-list-header -->
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="registration-area">
    <div>
      <div class="container">
        <div class="registration-main">
          <div class="registration-main-top">
            <h2>Upload your photos</h2>
            <p>
              Please upload up to two photos of yourself. These will remain
              blurred and only made visible to potential matches after a
              successful match has been made.
              <b>Note that your photos would only be viewed once</b>, after
              which they will become blurred again. This is to maintain user
              privacy and to help determine compatibility only.
            </p>

            <ul>
              <!-- <li><button type="button">take a photo</button></li> -->
              <li>
                <button type="button" (click)="profileImagePicker.click()">
                  Upload from camera roll
                </button>
              </li>
            </ul>

            <input
              [hidden]="true"
              #profileImagePicker
              type="file"
              (change)="fileChangeEvent($event)"
              accept="image/*"
            />

            <input
              [hidden]="true"
              #profileImagePicker2
              type="file"
              (change)="fileChangeEvent($event, 1)"
              accept="image/*"
            />

            <input
              [hidden]="true"
              #profileImagePicker3
              type="file"
              (change)="fileChangeEvent($event, 2)"
              accept="image/*"
            />

            <div class="user-img">
              <div class="user-img-child" (click)="profileImagePicker2.click()">
                <img *ngIf="pickedImages.length"
                     [src]="pickedImages[0].image"
                     [alt]="'Picked Image'"/>
                <button *ngIf="pickedImages[0]" (click)="removePickedImage($event,0)" class="remove-btn">
                  X
                </button>
                <i *ngIf="!pickedImages.length" class="fa-solid fa-plus"></i>
              </div>

              <div class="user-img-child" (click)="profileImagePicker3.click()">
                <img  *ngIf="pickedImages.length && pickedImages.length === 2"
                      [src]="pickedImages[1].image"
                      [alt]="'Picked Image'"/>
                <button *ngIf="pickedImages[1]" (click)="removePickedImage($event,1)" class="remove-btn">
                  X
                </button>
                <i *ngIf="!pickedImages.length || pickedImages.length === 1" class="fa-solid fa-plus"></i>
              </div>
            </div>
          </div>

<!--          <div class="registration-main-bottom">-->
<!--            <ul>-->
<!--              <li>-->
<!--                <button type="button" (click)="uploadImage()">NEXT</button>-->
<!--              </li>-->
<!--            </ul>-->
<!--          </div>-->
          <div class="sub-btn">
            <button type="button" (click)="uploadImage()">Next</button>
          </div>
        </div>
        <div class="footer-step">
          <div class="container">
            <div class="footer-step-child">
              <ul>
                <li>
                  <i class="fa-solid fa-heart"></i>
                </li>
                <li>
                  <i class="fa-solid fa-heart"></i>
                </li>
                <li>
                  <i class="fa-solid fa-heart"></i>
                </li>
                <li>
                  <i class="fa-solid fa-heart"></i>
                </li>
                <li>
                  <i class="fa-solid fa-heart"></i>
                </li>
                <li>
                  <i class="fa-regular fa-heart"></i>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>


    <!-- END! footer-step -->
  </div>
</ion-content>
