
<ion-header class="header1">
  <ion-toolbar>
    <div class="profile-list-header">
      <div class="container">
        <div class="header-content">
           <span class="back-button" (click)="goBack()">
            <i class="fa-solid fa-arrow-left"></i>
          </span>
          <div class="profile-list-header-child">
            <div class="profile-list-header-left">
              <h1>HEALTHY NIKAH</h1>
            </div>
            <div class="profile-list-header-right">
              <button type="button" routerLink="/notification">
                <img
                  src="./assets/images/brand/png/notification-second.png"
                  alt="notification-second"
                />
                <div class="count" *ngIf="notificationCount">
                  <p>{{ notificationCount ?? 0 }}</p>
                </div>
              </button>
            </div>
          </div>
          <div class="profile-list-header-child">
            <div class="profile-list-header-left">
              <h1>Contact us</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- END! profile-list-header -->
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="contact-us-area">
    <div class="container">
<!--      <div class="contact-top">-->
<!--        <div class="heart-icon">-->
<!--          <img src="./assets/images/brand/png/heart.png" alt="">-->
<!--        </div>-->
<!--        <h3>Contact us</h3>-->
<!--      </div>-->
      <div class="contact-us-main">
        <ul>
          <li>
            <a href="mailto:healthynikah&#64;gmail.com ">
<!--              <i class="fa fa-envelope"></i>-->
              <img src="/assets/images/png/14 (1).png" alt="">
              <p><span> healthynikah&#64;gmail.com</span></p>
            </a>
          </li>
          <li>
            <a href="https://www.instagram.com/healthynikah/">
<!--              <i class="fab fa-instagram"></i>-->
              <img src="/assets/images/png/14 (2).png" alt="">
              <p><span>healthynikah</span></p>
            </a>

          </li>
          <li>
            <a href="https://www.tiktok.com/@healthy.nikah">
<!--              <i class="fa-brands fa-tiktok"></i>-->
              <img src="/assets/images/png/14 (3).png" alt="">
              <p><span>healthy.nikah</span></p>
            </a>

          </li>

          <li>
            <a style="text-align: start;color: black; font-weight: 600;padding-top: 15px">
                Join our Telegram to keep track of the latest profiles updated.
            </a>
          </li>
          <li>
            <a href="https://t.me/healthynikah">
<!--              <i class="fa-brands fa-telegram"></i>-->
              <img src="/assets/images/png/14 (4).png" alt="">
              <p><span>healthynikah</span></p>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</ion-content>

<app-bottom-nav></app-bottom-nav>
