<div class="header">
  <div class="container">
    <div class="header-main">
      <!--   <div class="app-name">
        <h3>HN</h3>
      </div> -->
      <div class="user-icon">
        <button type="button" routerLink="/home">
          <svg viewBox="0 0 384 512">
            <path
              d="M342.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L192 210.7 86.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L146.7 256 41.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 301.3 297.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L237.3 256 342.6 150.6z"
            />
          </svg>
        </button>
      </div>
    </div>
  </div>
</div>

<ion-content [fullscreen]="true">
  <div class="user-details">
    <div class="container">
      <div class="user-details-top">
        <h1>HealthyNikah</h1>

        <div class="user-detail-top-img">
          <img src="./assets/images/temp/png/heart-bg-remove.png" alt="logo" />
        </div>

        <div class="user-detail-profile-summery">
          <h2>Profile Summary: M036</h2>
        </div>
      </div>
      <!-- END! user-details-top -->

      <div class="user-details-bottom">
        <div class="user-details-card">
          <h5>Electricity & Residence:</h5>
          <p>British Bangali Living in London</p>
        </div>

        <div class="user-details-card">
          <h5>Age and Height:</h5>
          <p>
            25
            <br />
            5'5/10
          </p>
        </div>

        <div class="user-details-card">
          <h5>Educational Qualification:</h5>
          <p>BSc in Economics</p>
        </div>

        <div class="user-details-card">
          <h5>Current Work and Grade:</h5>
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tenetur
            autem ipsam dolor nam qui odit.
          </p>
        </div>

        <div class="user-details-card">
          <h5>Islamic Practice:</h5>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est
            officiis adipisci molestiae, ipsam et accusantium nobis ab, eum
            tempore officia eligendi totam nostrum quam! Vero.
          </p>
        </div>

        <div class="user-details-card">
          <h5>About Me:</h5>
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quis,
            officiis? Veniam repellendus provident ut quas ullam neque rem
            saepe? Harum facere facilis porro possimus odio. Minima nisi rem
            rerum perferendis cumque dolores, officia totam nostrum consequuntur
            excepturi ex libero tempora possimus laboriosam. Velit, atque fugit?
            Sequi, quis, delectus ipsum numquam quibusdam odio ea quas
            consequuntur quae tenetur possimus nisi et.
          </p>
        </div>

        <div class="user-details-card">
          <h5>What I'm looking for:</h5>
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quis,
            officiis? Veniam repellendus provident ut quas ullam neque rem
            saepe?
          </p>
        </div>

        <div class="user-details-card">
          <h5>Any other important information:</h5>
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quis,
            officiis? Veniam repellendus provident ut quas ullam neque rem
            saepe?
          </p>
        </div>

        <div class="user-details-card">
          <h5>Profession you are looking for:</h5>
          <h6>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</h6>
        </div>
      </div>
    </div>
  </div>
</ion-content>
